@model IEnumerable<VehicleType>

@{
    ViewData["Title"] = "Index";
}

<div class="card rounded-3 listfunc border-0 p-3 pagecolors">
<h1>Vehicle Types</h1>

<hr />
<div class="row">
    <div class="col-md-4">

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
