@model Garage3._0.Core.Entities.User

@{
    ViewData["Title"] = "Details";
}

<div class="card rounded-3 listfunc border-0 p-3 pagecolors">
<h1 class="text-center">Details</h1>
<hr />
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Fname)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Pnr)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Pnr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class=" btn btn-primary">Edit</a> |
    <a asp-action="Index" class=" btn btn-primary" >Back to userlist</a>
</div>
</div>
</div>

