@model IEnumerable<Garage3._0.Core.Entities.User>

@{
    ViewData["Title"] = "Index";
}

<div class="card rounded-3 listfunc border-0 p-3 pagecolors">
<h1 class="text-center">Users overview</h1>
<hr />
<div class="row">
    <div>

<p>
    <a asp-action="Create" class="btn btn-success">Create new user</a>
</p>

<div class = "bg-light container rounded-3">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pnr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pnr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>

