@model StatisticsViewModel

@{
	ViewData["Title"] = "Statistics";
}
<div class="card rounded-3 listfunc border-0 p-3">
	<h1>Statistics</h1>

	<div>
		<hr />
		<dl class="row">
			<dt class="col-sm-2">
				@Html.Raw("Vehicle Type:")
			</dt>
			<dd class="col-sm-10">
				@Html.Raw("Count")
			</dd>
			<hr class= "bg-dark"/>
			@foreach (var vehicleCount in Model.VehicleCount)
			{
				<dt class="col-sm-2">
					<p>@vehicleCount.VehicleType</p>
				</dt>
				<dd class="col-sm-10">
					<p>@vehicleCount.Total</p>
				</dd>
			}
		</dl>
	</div>
	<div>
		<hr class = "bg-dark"/>
		<dl class = "row">
			<dt class="col-sm-2">
				@Html.Raw("Number of wheels:")
			</dt>
			<dd class="col-sm-10">
				@Model.VehiclesNoOfWheels
			</dd>
		</dl>
	</div>
</div>
